In [2]:
import pandas as pd
import os

In [125]:
# importing and combining data files

seasons = []
rows_total = 0

for season in os.listdir("data"):
    # print(season)
    if season[-4:] == ".csv":
        seasons.append(pd.read_csv("data/" + season, on_bad_lines="warn", encoding='windows-1252'))

for season in seasons:
    rows_total += len(season)
    season["Date"] = pd.to_datetime(season["Date"], format = "mixed", dayfirst = True)

df = pd.concat(seasons, axis = 0, ignore_index = True).dropna(axis = 1, how = "all").dropna(axis = 0, how = "all")

print("%.2f %% of original data imported successfully" % (len(df) / rows_total * 100))
print("%i rows dropped." % (rows_total - len(df)))

99.99 % of original data imported successfully
1 rows dropped.

In [126]:
df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,1XBCH,1XBCD,1XBCA,BFECH,BFECD,BFECA,BFEC>2.5,BFEC<2.5,BFECAHH,BFECAHA
0,E0,2005-08-13,Aston Villa,Bolton,2.0,2.0,D,2.0,2.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,2005-08-13,Everton,Man United,0.0,2.0,A,0.0,1.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,2005-08-13,Fulham,Birmingham,0.0,0.0,D,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,2005-08-13,Man City,West Brom,0.0,0.0,D,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,2005-08-13,Middlesbrough,Liverpool,0.0,0.0,D,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7455,NaN,2025-02-01,Wolves,Aston Villa,2.0,0.0,H,1.0,0.0,H,...,3.34,3.49,2.27,3.20,3.55,2.42,1.86,2.16,1.90,2.09
7456,NaN,2025-02-02,Brentford,Tottenham,0.0,2.0,A,0.0,1.0,A,...,2.07,4.38,3.34,2.06,4.20,3.50,1.33,3.95,2.06,1.93
7457,NaN,2025-02-02,Man United,Crystal Palace,0.0,2.0,A,0.0,0.0,D,...,1.78,3.70,5.09,1.84,3.75,5.10,1.98,2.00,2.10,1.89
7458,NaN,2025-02-02,Arsenal,Man City,5.0,1.0,H,1.0,0.0,H,...,1.95,3.85,3.87,1.95,4.20,3.95,1.68,2.46,1.94,2.05
7459,NaN,2025-02-03,Chelsea,West Ham,2.0,1.0,H,0.0,1.0,A,...,1.30,6.28,9.94,1.32,6.80,10.00,1.38,3.55,2.04,1.95