In [1]:
import pandas as pd
import os

In [18]:
# importing and combining data files

seasons = []
rows_total = 0

for season in os.listdir("../data/raw"):
    # print(season)
    if season[-4:] == ".csv":
        thisseason = pd.read_csv("../data/raw/" + season, on_bad_lines="warn", encoding='windows-1252')
        thisseason["Season"] = str(season[0:2]) + "/" + str(season[2:4])
        seasons.append(thisseason)

for season in seasons:
    rows_total += len(season)
    season["Date"] = pd.to_datetime(season["Date"], format = "mixed", dayfirst = True)

df = pd.concat(seasons, axis = 0, ignore_index = True).dropna(axis = 1, how = "all").dropna(axis = 0, how = "all")

print("%.2f %% of original data imported successfully" % (len(df) / rows_total * 100))
print("%i rows dropped." % (rows_total - len(df)))

100.00 % of original data imported successfully
0 rows dropped.

In [19]:
df["Season"]

0       05/06
1       05/06
2       05/06
3       05/06
4       05/06
        ...
7455    24/25
7456    24/25
7457    24/25
7458    24/25
7459    24/25
Name: Season, Length: 7460, dtype: object

In [14]:
for column in df.columns:
    print(column, "----", df[column].dtype)

Div ---- object
Date ---- datetime64[ns]
HomeTeam ---- object
AwayTeam ---- object
FTHG ---- float64
FTAG ---- float64
FTR ---- object
HTHG ---- float64
HTAG ---- float64
HTR ---- object
Referee ---- object
HS ---- float64
AS ---- float64
HST ---- float64
AST ---- float64
HF ---- float64
AF ---- float64
HC ---- float64
AC ---- float64
HY ---- float64
AY ---- float64
HR ---- float64
AR ---- float64
B365H ---- float64
B365D ---- float64
B365A ---- float64
BWH ---- float64
BWD ---- float64
BWA ---- float64
GBH ---- float64
GBD ---- float64
GBA ---- float64
IWH ---- float64
IWD ---- float64
IWA ---- float64
LBH ---- float64
LBD ---- float64
LBA ---- float64
SBH ---- float64
SBD ---- float64
SBA ---- float64
WHH ---- float64
WHD ---- float64
WHA ---- float64
SJH ---- float64
SJD ---- float64
SJA ---- float64
VCH ---- float64
VCD ---- float64
VCA ---- float64
Bb1X2 ---- float64
BbMxH ---- float64
BbAvH ---- float64
BbMxD ---- float64
BbAvD ---- float64
BbMxA ---- float64
BbAvA ---- float64
BbOU ---- float64
BbMx>2.5 ---- float64
BbAv>2.5 ---- float64
BbMx<2.5 ---- float64
BbAv<2.5 ---- float64
BbAH ---- float64
BbAHh ---- float64
BbMxAHH ---- float64
BbAvAHH ---- float64
BbMxAHA ---- float64
BbAvAHA ---- float64
Season ---- object
BSH ---- float64
BSD ---- float64
BSA ---- float64
PSH ---- float64
PSD ---- float64
PSA ---- float64
PSCH ---- float64
PSCD ---- float64
PSCA ---- float64
Time ---- object
MaxH ---- float64
MaxD ---- float64
MaxA ---- float64
AvgH ---- float64
AvgD ---- float64
AvgA ---- float64
B365>2.5 ---- float64
B365<2.5 ---- float64
P>2.5 ---- float64
P<2.5 ---- float64
Max>2.5 ---- float64
Max<2.5 ---- float64
Avg>2.5 ---- float64
Avg<2.5 ---- float64
AHh ---- float64
B365AHH ---- float64
B365AHA ---- float64
PAHH ---- float64
PAHA ---- float64
MaxAHH ---- float64
MaxAHA ---- float64
AvgAHH ---- float64
AvgAHA ---- float64
B365CH ---- float64
B365CD ---- float64
B365CA ---- float64
BWCH ---- float64
BWCD ---- float64
BWCA ---- float64
IWCH ---- float64
IWCD ---- float64
IWCA ---- float64
WHCH ---- float64
WHCD ---- float64
WHCA ---- float64
VCCH ---- float64
VCCD ---- float64
VCCA ---- float64
MaxCH ---- float64
MaxCD ---- float64
MaxCA ---- float64
AvgCH ---- float64
AvgCD ---- float64
AvgCA ---- float64
B365C>2.5 ---- float64
B365C<2.5 ---- float64
PC>2.5 ---- float64
PC<2.5 ---- float64
MaxC>2.5 ---- float64
MaxC<2.5 ---- float64
AvgC>2.5 ---- float64
AvgC<2.5 ---- float64
AHCh ---- float64
B365CAHH ---- float64
B365CAHA ---- float64
PCAHH ---- float64
PCAHA ---- float64
MaxCAHH ---- float64
MaxCAHA ---- float64
AvgCAHH ---- float64
AvgCAHA ---- float64
ï»¿Div ---- object
BFH ---- float64
BFD ---- float64
BFA ---- float64
1XBH ---- float64
1XBD ---- float64
1XBA ---- float64
BFEH ---- float64
BFED ---- float64
BFEA ---- float64
BFE>2.5 ---- float64
BFE<2.5 ---- float64
BFEAHH ---- float64
BFEAHA ---- float64
BFCH ---- float64
BFCD ---- float64
BFCA ---- float64
1XBCH ---- float64
1XBCD ---- float64
1XBCA ---- float64
BFECH ---- float64
BFECD ---- float64
BFECA ---- float64
BFEC>2.5 ---- float64
BFEC<2.5 ---- float64
BFECAHH ---- float64
BFECAHA ---- float64

In [ ]:
# fix data types

In [145]:
# example of getting goals

homegs = df.query("HomeTeam == 'Tottenham'")["FTHG"].sum().astype(int)
awaygs = homegs = df.query("AwayTeam == 'Tottenham'")["FTAG"].sum().astype(int)

homegs + awaygs

1152

In [135]:
df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,1XBCH,1XBCD,1XBCA,BFECH,BFECD,BFECA,BFEC>2.5,BFEC<2.5,BFECAHH,BFECAHA
0,E0,2005-08-13,Aston Villa,Bolton,2.0,2.0,D,2.0,2.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,2005-08-13,Everton,Man United,0.0,2.0,A,0.0,1.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,2005-08-13,Fulham,Birmingham,0.0,0.0,D,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,2005-08-13,Man City,West Brom,0.0,0.0,D,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,2005-08-13,Middlesbrough,Liverpool,0.0,0.0,D,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7455,NaN,2025-02-01,Wolves,Aston Villa,2.0,0.0,H,1.0,0.0,H,...,3.34,3.49,2.27,3.20,3.55,2.42,1.86,2.16,1.90,2.09
7456,NaN,2025-02-02,Brentford,Tottenham,0.0,2.0,A,0.0,1.0,A,...,2.07,4.38,3.34,2.06,4.20,3.50,1.33,3.95,2.06,1.93
7457,NaN,2025-02-02,Man United,Crystal Palace,0.0,2.0,A,0.0,0.0,D,...,1.78,3.70,5.09,1.84,3.75,5.10,1.98,2.00,2.10,1.89
7458,NaN,2025-02-02,Arsenal,Man City,5.0,1.0,H,1.0,0.0,H,...,1.95,3.85,3.87,1.95,4.20,3.95,1.68,2.46,1.94,2.05
7459,NaN,2025-02-03,Chelsea,West Ham,2.0,1.0,H,0.0,1.0,A,...,1.30,6.28,9.94,1.32,6.80,10.00,1.38,3.55,2.04,1.95